<!DOCTYPE html>
<html lang='en' ng-app='socialStock'>
<head>
  <title>Social Capital</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" href="bower_components/angular-chart/dist/angular-chart.css">
</head>
<body ng-controller='MainCtrl'>
  <div id='nav'>
    <div id='logo'><a href='#/dashboard'>SOCAP</a></div>
    <form ng-submit='search(searchTerm)' class='searchStocks'>
    <!-- <button ng-click='search(searchTerm)'>search</button> -->
      <input type='text' ng-model='searchTerm' placeholder='Search for a stock...'>
    </form>

    <ul id='menu'>
      <li><a href='#/dashboard'>Dashboard</a></li>
      <li><a href='#/portfolio'>My Portfolio</a></li>
    </ul>
   
    <div class='userInfo'>
      <img src='{{ user.photo }}'>
      <div class="userName">
        <h1>{{ user.name }}</h1>
        <a href='/logout'>logout</a>
      </div>
    </div>

    <div class="portfolioInfo">
      <h1>Net Worth</h1>
      <p>${{ networth | number: 2 }}</p>

      <h1>Cash Balance</h1>
      <p>${{ portfolioOuter.cash_balance | number: 2 }}</p>
    </div>
    
  </div>

  <div ng-view class='mainContent'> </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/Chart/Chart.js"></script>
  <script src="bower_components/angular-chart/dist/angular-chart.js"></script>

  <script src="app/app.js"></script>
  <script src="app/Factories/clientFactory.js"></script>
  <script src="app/Factories/d3Factory.js"></script>
  <script src="app/auth/auth.js"></script>
  <script src="app/dashboard/dashCtrl.js"></script>
  <script src="app/mainCtrl.js"></script>
  <script src="app/portfolio/portfolioCtrl.js"></script>
  <script src="app/search/searchResultCtrl.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
  <script src="lib/d3pie.min.js"></script>
  <script src="app/dashboard/piechart.js"></script>
</body>
</html>
