/* import fonts */
@font-face{
  font-family: OstrichLight;
  src: url(ostrichsans-light.otf);
}
@font-face{
  font-family: OstrichBlack;
  src: url(ostrichsans-black.otf);
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,700,900);

/*** GENERAL ***/
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  height: 100%;
  font-family: helvetica;
  margin: 0;
}


/*** SIGNIN ***/

#login{
  font-family: helvetica;
  background: #5270B6;
  text-align: center;
  color: white;
}
#login h1 {
  font-family: OstrichBlack;
  font-size: 8em;
  margin: 100px 0 0 0;
}
.cap {
  color: #058C0B;
}
#login h2 {
  font-family: OstrichLight;
  font-size: 4em;
  margin: 0;
}
#login p {
  font-size: 1.2em;
  margin-bottom: 40px
}
#login a {
  background: #0575E2;
  padding: 15px 139px;
  border-radius: 6px;
  text-decoration: none;
  margin-top: 20px;
  color: #FFF;
  font-size: 1.2em;
  background-image: url(../assets/twitter.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 100px 16px;
}
#login a:hover {
  background-color: #046BD0
}
video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  /*background: url(polina.jpg) no-repeat;*/
  background-size: cover;
}
.videoWrapper {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -99;
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
}

/*** INDEX ***/
#nav {
  color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  padding: 25px 0 0 40px;
  width: 20%;
  background: #5270B6;
  height: 100%;
}
#logo {
  font-family: OstrichBlack;
  font-size: 2.8em;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
#logo a {
  color: white;
  text-decoration: none;
}
.userInfo {
  margin-top: 20px;
  border-top: 1px solid #C8C8C8;
  padding-top: 20px;
}
.userInfo img {
  border-radius: 3px;
  width: 40px;
  float: left;
}
.userName {
  margin-left: 7px;
  display: inline-block;
  margin-top: 3px;
}
.userInfo h1 {
  font-size: 1em;
  margin: 0;  
}
.userInfo a {
  text-decoration: none;
  color: #C5C5C5;
  font-size: 0.8em;
  display: block;
}
#menu {
  margin: 15px 0 20px;
  padding: 0;
  list-style: none;
}
#menu li {
  padding: 10px 0;
}
#menu li a {
  color: #fff;
  text-decoration: none;
}
#menu li a:hover {
  border-bottom: 2px solid white;
}
.portfolioInfo h1 {
  font-size: 1em;
  font-weight: 600;
  margin: 20px 0 0 0;
}
.portfolioInfo p {
  margin: 0;
}

.searchStocks input {
  width: 85%;
  border: none;
  border-radius: .5em;
  padding: 1em 0 1em 30px;
  background: #F2F2F2;
  background-image: url(../assets/search.png);
  background-repeat: no-repeat;
  background-size: 12px;
  background-position: 11px 11px;
}

/*** MAIN CONTENT ***/
.mainContent {
  width: 80%;
  margin: 0;
  margin-left: 20%;
}
.pageHeader {
  color: #5270B6;
  border-bottom: 1px solid #5270B6;
  font-size: 20px;
  font-weight: 600;
  padding: 33px;
}
.mainBody {
  margin: 33px;
}


/*** DASHBOARD ***/
.dashboard h1 {
  color: #5270B6;
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 5px; 
  display: inline-block;
  border-bottom: 1px solid #5270B6;
}


/*** PORTFOLIO ***/
.portfolio table {
  width: 100%;
  text-align: left;
  border: none;
  border-spacing: 0;
}
.portfolio th {
  background: #606060;
  color: white;
}
.portfolio td, .portfolio th {
  padding: 10px 5px 10px 10px;
}
.stockRow:nth-child(even) {
  background: #EDEDED;
}
.stockRow:nth-child(odd) {
  background: #D5D5D5;
}
.stockRow img {
  border-radius: 3px;
  width: 40px;
  float: left;
}
.stockRow button {
  color: #FFF;
  border: none;
  border-radius: .5em;
  padding: 0.7em 1.3em;
  margin-right: -5px;
  background: #5270B6;
}
.stockRow button:hover {
  background: #32529B;
  cursor: pointer;
}
.stockName {
  display: inline-block;
  margin-left: 10px;
  margin-top: 4px;
}
.green {
  color: green;
}
.red {
  color: red;
}


/*** SEARCH RESULT ***/
.stockOverview {
  width: 90%;
  border-bottom: 1px solid #C8C8C8;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.stockInfo {
  width: 500px;
  margin: 0;
  display: inline-block;
  float: left;
  margin-right: 60px;
}
#line {
  width: 600px;
}
.stockNameAndPic {
  height: 100px;
  float: left;
  margin-right: 50px;
}
.stockNameAndPic img {
  width: 60px;
  border-radius: 3px;
  float: left;
  border: 1px solid #D3D3D3;
}
.stockNameAndPic h1 {
  margin: 0;
  font-size: 1.4em;
}
.stockNameAndPic h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: 500;
  color: #999;
}
.buyStock {
  margin-bottom: 200px;
}
.buyStock h1 {
  font-size: 1.2em;
  margin: 0;
}
.buyStock h2 {
  font-size: 0.8em;
  color: grey;
  font-weight: 400;
  margin: 5px 0 10px;
}
.buyStock input {
  padding: 9px 10px;
  border-radius: 3px;
  border: 1px solid #979797;
  background: #F5F5F5;
  width: 110px;
  text-align: right;
  font-size: 1em;
}
.buyShares {
  width: 164px;
  border-top: 1px solid #C8C8C8;
  margin-top: 15px;
  padding-top: 15px;
}
.buyShares button {
  display: block;
  margin-top: 10px;
  width: 100%;
  font-size: 1em;
  padding: 10px 0;
  border: none;
  border-radius: 3px;
  color: #FFF;
  background-color: #0575E2;
}
.buyShares button:hover {
  background-color: #046BD0;
  cursor: pointer;
}


/* navigation */

.thick{
  font-family: OstrichBlack;
  font-size: .9em;
}
#info{
  background: #DEDDDD;
  padding: 0 .4em;
}
#info div{
  padding-top: 0px;
  padding-bottom: 0px;
}
#dashheaders{
  background: #B2B3B3;
  font-size: .5em;
}
#searchheaders{
  background: #B2B3B3;
  font-size: .5em;
}
#dashheaders div{
  vertical-align: middle;
  padding: .1em .4em;
  float: left;
  background: #B2B3B3;
}
#searchheaders div{
  margin-top: 0;
  width: 25%;
  padding: .1em .4em;
  float: left;
  background: #B2B3B3;
}
.stock{
  width: 100%;
}
.left{
  float: left;
}
.rightfloat{
  float: right;
}
.dashboard{
  width: 100%;
}
.parent div{
  padding: .2em;
  float: left;
  display: inline;
}
.parent{
  clear: both;
  font-size: .5em;
  display: block;
}
#search {
  padding: .25em;
  line-height: 0em;
}

*:focus{
  outline: none;
}

#search button{
  color: #fff;
  border: solid 1px #B2B3B3;
  border-radius: .5em 0em 0em .5em;
  padding: 1em 2em;
  margin-right: -10px;
}
.buy button{
  color: #fff;
  border: solid 1px #B2B3B3;
  border-radius: .5em 0em 0em .5em;
  padding: .5em 1em;
  margin-right: -5px;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.center div{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.handle{
  clear: both;
  font-size: .8em;
  color: #808080;
}

#pieChart{
  width: 40%;
}
#stockdata{
  width: 60%;
  float: left;
}
.sixpercent{
  width: 6%; 
}
.ninepercent{
  width: 9%; 
}
.tenpercent{
  width: 10%; 
}
.eighteenpercent{
  width: 18%; 
}
.fifteenpercent{
  width: 15%; 
}
.twentyfivepercent{
  width: 25%; 
}
.thirtypercent{
  width: 30%; 
}
.fourtypercent{
  width: 40%
}